*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
}


body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

.navbar {
    background-color: var(--bg-primary);
    color: white;
    height: 100vh;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    transition: width 600ms ease;
}

.navbar .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

ul > li {
    height: 5rem;
}

.navbar:hover {
    background-color: red;
    width: 15rem;
}

#main {
    background-image: url("images/desktop.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 5rem;
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
}

#main::after {
    content: "";
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.808);
}

.cover {
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    position: absolute;
    transform: translateY(100%);
    opacity: 0;
    animation: scroll 3s ease-in-out;
}

@keyframes scroll {
    0% {
        transform: translateY(100%);
        opacity: 1;
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
        display: none;
    }
}